<div class="container ">
    <div class="card card-body">
    <form  action="/confirm" method="post">
    <h4>{{title}}</h4>

    <br>
    <div class="form-group">
    <label>Email</label>
    <input type="email" placeholder="email registered email"  name="email" class="form-control" >
</div>
<button class="btn btn-primary" type="submit">Submit</button>

</form>
</div>
</div>